.content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    justify-content: center;
    place-items: center;
  }

  &__link {
    padding: 0;
    margin: 0;
  }

  &__logo {
    height: 4em;
    padding: 1.5em;
    will-change: filter;
    transition: filter var(--a-duration) var(--a-effect);

    &:hover {
      @mixin filter-shadow var(--c-accent);
    }

    &--vanilla:hover {
      @mixin filter-shadow var(--c-primary);
    }
  }

  &__title, &__card {
    grid-column: span 2;
  }

  &__read-the-docs {
    grid-column: span 2;
    color: var(--c-secondary);
  }

  @media screen and (--sm-breakpoint) {
    &__logo {
      height: 6em;
    }
  }
}