.main {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  place-items: center;
  flex-grow: 1;

  @media (--break-point--tablet-l) {
    &__follow, &__quick-nav {
      display: flex;
    }
  }

  @media (--break-point--desktop) {
    /*margin-top: 192px;*/
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 54px 10px;
    max-width: 1760px;
    gap: 90px;

    & .heading {
      position: relative;
    }

    @media (--break-point--mobile) {
      padding: 64px 20px;
      gap: 40px;
    }

    @media (--break-point--tablet) {
      padding: 40px 32px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px 0;
    }

    @media (--break-point--tablet-l) {
      padding: 52px 80px;
      gap: 180px;
    }

    @media (--break-point--desktop) {
      padding: 92px 140px;
      gap: 200px;
    }
  }
}
