.theme-switcher {
  display: flex;
  cursor: pointer;

  &__icon {
    display: none;
    width: 32px;
    height: 32px;
  }

  &__icon * {
    fill: var(--c-background);
    stroke: var(--c-background);
  }

  &:hover &__icon * {
    will-change: fill, stroke;
    transition: fill var(--a-duration) var(--a-effect), stroke var(--a-duration) var(--a-effect);
    fill: var(--c-accent-hover);
    stroke: var(--c-accent-hover);
  }

  &__check {
    display: none;
  }

  &__check:checked ~ &__icon.icon--light {
    display: block;
  }

  &__check:not(:checked) ~ &__icon.icon--dark {
    display: block;
  }
}