/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

:root {
  /* Default theme */

  /* Colors */
  --c-accent: #ffb816;
  --c-accent-hover: #fbd784;
  --c-primary: #f7df1eaa;
  --c-secondary: #888888FF;
  --c-text: #0B1D26;
  --c-background: #ffffff;

  /* Typography */
  --f-size--3xs: 12px;
  --f-size--xxs: 13px;
  --f-size--xs: 14px;
  --f-size--sm: 16px;
  --f-size--md: 18px;
  --f-size--lg: 20px;
  --f-size--xl: 24px;

  --f-weight--thin: 100;
  --f-weight--extralight: 200;
  --f-weight--light: 300;
  --f-weight--regular: 400;
  --f-weight--medium: 500;
  --f-weight--semibold: 600;
  --f-weight--bold: 700;
  --f-weight--extrabold: 800;
  --f-weight--black: 900;

  --f-height: 32px;
  --f-family--primary: "Poppins", sans-serif;
  --f-family--heading: "Playfair Display", serif;

  /* Animation */
  --a-duration: 0.3s;
  --a-effect: ease-in;
}

[data-theme="dark"] {
  /* Dark theme */
  --c-text: #ffffff;
  --c-background: #0B1D26;
  --c-accent: #fbd784;
  --c-accent-hover: #ffb816;
}